
/* 
Alternador de Idiomas
Estilos relacionados al Alternador de Idiomas.
*/
.language-switcher-language-url ul li {
  display: inline;
  font-size: 0px;
}

h1 {
  margin: 0;
  padding: 0;
  color: #CF5900;
}

.language-icon {
  height: 20px;
  width: 20px;
}

.language-icon {
  height: 20px;
  width: 20px;
}

.language-icon .is-active img {
  background: url(/modules/contrib/languageicons/flags/esbn.png)
}


/* Alternador de Idiomas */

/* Slider: Puntos de la navegación */

.slick-dots {
  position: relative;
  top: -30px;
  left: 0px;
}
 
.slick-dots li button::before {
  font-family: 'slick';
  font-size: 16px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: red;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Slider: Puntos de la navegación */

/* START: MENU ICON RELATED STUFF */

.menu {
  background: url('../images/bg.png') repeat-x;
  background-color: #CF5900;
  padding: 1px 0 1px 0;
}

.region-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.region-menu li {
  float: left;
  padding: 10px 14px 0 14px;
}

.region-menu li a {
  display: block;
  color: #fff;
  font-size: 16px;
  font-weight: lighter;
  padding: 0 0 5px 0;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.region-menu li a:hover {
  background-color: transparent;
  color: #E3B100;
}

.region-menu li a.is-active {
  color: #E3B100;
  background: url('../images/triangle1.png') no-repeat bottom;
}

/* END: MENU ICON RELATED STUFF */
/* Menú Alternativo */
.region-submenu {
  background: transparent;
  padding-top: 100px;
  text-align: center;
  vertical-align: bottom;
}

.region-submenu ul li {
  display: inline-block;
}

.region-submenu a {
  background: transparent;
  color: #CF5900;
  font-size: 16px;
  font-weight: 100;
  padding: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
}

.region-submenu a:hover {
  background-color: transparent;
  color: #CF5900;
}

.nav > li > a:focus, .nav > li > a:hover {
  text-decoration: none;
  background-color: transparent;
}



/* Línea bajo el menu principal */
.linea {
  background: #E3B100;
  padding: 5px;
  margin-top: -1px;
}

.lineabaja {
  background: #E3B100;
  padding: 10px;
}

.slick-dotted.slick-slider {
  margin-bottom: -30px;
}

/* START: SLIDER OPTIONS */
.slide__caption {
  padding: 0px;
  color: #fff;
}

.slide__caption:after {
  position: absolute;
  display: block;
  color: #fff;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: -50;
  background: rgba(17, 17, 16, 0.4);
}

.slide__data {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  font-size: 20px;
  z-index: 1;
}

/* END: SLIDER OPTIONS */

/* Iconos redes sociaes UP*/



ul.social li {
  display: inline;
  list-style: none;
}

ul.social li a {
  display: inline-block;
  color: #f2f1f1;
  font-family: FontAwesome;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  padding: 8px 5px 0 5px;
}

ul.social li a:hover {
  color: #E3B100;
}

ul.social .icon {
  border: none;
}

/* Redes sociales Footer */

ul.social-footer {
  margin: 0;
  padding: 0;
}

ul.social-footer li {
  display: inline;
  list-style: none;
}

ul.social-footer li a {
  display: inline-block;
  color: #f2f1f1;
  font-family: FontAwesome;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  padding: 6px 5px 0 5px;
}

ul.social-footer li a:hover {
  color: #E3B100;
}

ul.social-footer .icon {
  border: none;
}



/* Proporciona los padding en las páginas interiores. Clase presente unicamente en page.html.twig */
.contenido {
  padding: 30px 30px 30px 30px;
}

/* Hace que las imágenes conserven su proporción. Site wide code */
img {
  max-width: 100%; 
  height: 100%;
}

/* Start: Logotipo */
.region-header .brand {
  display: inline-block;
  padding: 5px 0 5px 0;
}

.site-name a {
  font-size: 36px;
  color: #fff;
}

.site-name a:hover {
  color: rgb(221, 217, 217);
  text-decoration: none;
}
/* End: Logotipo */



/* OLD STYLES BEGIN */
/*Header*/

body {
  font-size: 16px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: normal;
  line-height: 30px;
  letter-spacing: 0px;
}

.logo img {
  padding: 20px 0px 0px 0px;
  width: 250px;
}

.off-canvas-wrapper {
  background: #000;
}

.paragraph {
  margin: 60px 0;
}

/* Formulario de contacto del sitio. */

label {
  color: #443e3e;
  display: block;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

elemento {
  color: #FFA500;
}

div.off-canvas-wrapper {
  display: none;
}

a {
  color: #FFA500;
}

a:hover {
  color: #ffc04c;
}

a.is-active {
  color: #FFA500;
}

ul.links.inline {
  padding: 0;
}

ul.links.inline li {
  list-style: none;
}



/*FORM*/

textarea {
  background: rgba(0, 0, 0, 0.03);
  color: #888787;
}
.form-textarea {
  margin: 0;
  padding: 9px;
  width: 100%;
}

input, button, select, textarea {
  padding: 9px;
  background: rgba(0, 0, 0, 0.03);
  border: 1px solid transparent;
  border-radius: 6px;
}

.contact-message-form label{
  display: block;
}

.btn,
input[type="submit"]{
  background: #19c2c8;
  color: #fff;
  border: 0;
  padding: 13px;
  line-height: 100%;
  height: 42px;
}

.btn:hover,
input[type="submit"]:hover{
  background: #13ADB3;
}


.path-frontpage .feed-icon{
  display: none;
}

/*MENU*/

.navbar-default .navbar-toggle{
  background: #fff;
  margin-right: 0;
}

nav h2 {
  display: none;
}

.menu-base-theme,
.menu-base-theme a,
.menu-base-theme a:hover,
.menu-base-theme a:focus,
.menu-base-theme a:active,
.menu-base-theme a.highlighted{
  background: none;
}

.menu-base-theme li a{
  background: #FBFBFB
}

.menu-base-theme li a:active {
  color: #fff;
}


.main-menu {
  position: relative;
  z-index: 9999;
}

.region-primary-menu{
  display: none;
  background: #fff;
  border-radius: 3px;
  width: 100%;
  margin-top: 20px;
}

.menu-base-theme a {
  border-bottom: 1px solid #EEF0F7;
}

.menu-base-theme a span.sub-arrow {
  color: #999;
  font-size: 22px;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid #DCDCDC;
  background: #EFEFEF;
}

.navbar-toggle {
  z-index: 999;
}

.highlight {
  padding: 20px;
  background-color: #f7f7f9;
}

/*Contact form*/

.contact-message-feedback-form {
  max-width: 650px;
  margin: 0 auto;
  border: 1px solid #D8D8D8;
  padding: 10px 30px;
  background: #F5F5F4;
}

.contact-message-feedback-form .form-text,
.contact-message-feedback-form .form-email,
.contact-message-feedback-form .form-textarea {
  width: 100%;
}

/*user-login-form*/

.user-login-form,
.user-form,
.user-pass {
  max-width: 650px;
  margin: 40px auto;
  border: 1px solid #ddd;
  padding: 10px 30px;
  background: #FBFBFB;
}

.user-login-form .form-text,
.user-login-form .form-email,
.user-form .form-text,
.user-form .form-email,
.user-pass .form-text {
  width: 100%;
}

.form-composite > .fieldset-wrapper > .description,
.form-item .description {
  font-size: 11px;
  color: #999;
  font-style: italic;
}

/*Maintainance*/

.maintenance-page {
  background: url(../images/maintenance-bg.png) #66CBFF center no-repeat;
  color: #fff;
  text-align: center;
  padding-top: 220px;
  padding-bottom: 100px;
  font-size: 18px;
  color: #000;
}

.maintenance-msg {
  margin: 20px 0;
  background: rgba(242, 244, 207, 0.88);
  padding: 20px 30px;
  display: inline-block;
  color: #404040;
  border: 1px solid #fff;
  box-shadow: 5px 5px 0px #FFFFFF;
  font-size: 14px;
}

.maintenance-msg h1 {
  text-transform: uppercase;
  font-weight: bold;
}

.maintenance-page .brand,
.maintenance-page .name-and-slogan {
  display: inline-block;
  vertical-align: middle;
}

.maintenance-page .site-name a {
  color: #404040;
}

.maintenance-page .site-slogan,
.maintenance-page .name-and-slogan {
  display: none;
}

/*links inline*/

ul.links.inline li {
  display: inline-block;
  padding-right: 10px;
}

/*profile*/

.profile > div {
  padding-right: 5px;
  display: inline-block;
  vertical-align: top;
}

.profile h4.label {
  color: #333;
  display: block;
  text-align: left;
  margin-bottom: 5px;
}


a.has-submenu {
	color: #fff;
}


.sub-arrow {
	display: none;
}