<div id="page-wrapper">
  <div id="page">

    <div id="stick">
      <div class="menu">
        <div class="container">
          <div class="row">
            {% if page.header %}
              <div class="col-xs-6 col-md-4">
                {{ page.header }}
              </div>
            {% endif %}
            {% if page.menu %}
              <div class="col-xs-6 col-md-8">
                {{ page.menu }} 
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    {% if page.content %}
      <div class="container">
        <div class="row contenido">
            {{ page.content }}
        </div>
      </div>
    {% endif %}

    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            {{ page.footera }}
          </div>
        </div>
      </div>
    </div>

  </div>
</div>